.filter-container {
  display: flex;
  align-items: center;

  .filter-select {
    margin-right: 1rem;
    display: inline-block;
    height: 2rem;
    border: groove;
    border-radius: 5px;
    max-width: 12rem;
  }

  .filter-label {
    margin-bottom: 0;
  }
}
